# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Virtual environments
env/
venv/
.venv/
ENV/
.env/

# Django stuff
db.sqlite3
migrations/
__init__.py




# Environment / secret files
*.env
.env
private.py
*.idea/
.idea/

# Logs
*.log
