{% extends 'base.html' %}

{% block content %}
<h1>Hello from django templates</h1>
<h2>My name is {{name}} and i am {{age}} year old this is using data injected in views folder</h2>
<br>
<form action="/biodata/"  method="post">
    {% csrf_token %}
    <label for="name" >
        <input type="text" placeholder="name"  name="Name
        ">
    </label> <br>
    <label for="age" >
        <input type="number" placeholder="age" name="Age" >
    </label><br>
    <label for="D.O.B" >
        <input type="date" name="DateofBirth" id="dob" >
    </label><br>
    <input type="submit" value="Sumbit">
</form>
{% endblock  %}